# IGNORADOS DE DRUPAL
Drupal/.ddev/*
Drupal/sites/default/settings.php
Drupal/composer.lock
Drupal/vendor*
Drupal/web/core*
Drupal/web/modules/contrib*
Drupal/web/.*
Drupal/web/sites/default/files/css/*
Drupal/web/sites/default/files/js/*
Drupal/web/sites/default/files/php/*
Drupal/web/sites/default/files/langua*/*
Drupal/web/sites/default/files/trans*/*
Drupal/web/themes/contrib*
Drupal/web/web.config
Drupal/web/update.php
Drupal/web/themes/README.txt
Drupal/web/sites/README.txt
Drupal/web/sites/example.sites.php
Drupal/web/sites/development.services.yml
Drupal/web/sites/example.settings.local.php
Drupal/web/README.md
Drupal/web/profiles/README.txt
Drupal/web/INSTALL.txt
Drupal/web/index.php
Drupal/web/example.gitignore
Drupal/web/autoload.php
Angular/consulta_datos/.editorconfig
Angular/consulta_datos/.vscode/extensions.json
Angular/consulta_datos/.vscode/extensions.json
Angular/consulta_datos/.vscode/launch.json
Angular/consulta_datos/.vscode/tasks.json
Drupal/.editorconfig
Drupal/web/sites/default/default.services.yml
Drupal/web/sites/default/default.settings.php
Drupal/web/sites/default/files/.htaccess
