<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9 contenido">
                <h2>TITULO ENTIDAD</h2>
                <ul class="items-que-presta">
                    <li class="item-que-presta">12345678</li>
                    <li class="item-que-presta">qwertyuio</li>
                    <li class="item-que-presta">afghjk</li>
                    <li class="item-que-presta">zxcvbnm</li>
                    <li class="item-que-presta">1qaz</li>
                    <li class="item-que-presta">3edcv </li>
                    <li class="item-que-presta">345yhn</li>
                    <li class="item-que-presta">987ygbn</li>
                    <li class="item-que-presta">poijnm,</li>
                    <li class="item-que-presta">12345tfvbhjip</li>
                </ul>
            </div>
            <div class="col-12 col-md-3 logo">
                <a class="navbar-brand" href="#">Logo Entidad</a>
            </div>
            <div class="col-12 redes-sociales">
                <a target="_blank" href="https://www.youtube.com/" class="redes-sociales-internas"><i class="bi bi-youtube"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://www.facebook.com/" class="redes-sociales-internas"><i class="bi bi-facebook"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://twitter.com/?lang=es" class="redes-sociales-internas"><i class="bi bi-twitter-x"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://www.instagram.com/" class="redes-sociales-internas"><i class="bi bi-instagram"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://www.tiktok.com/es/" class="redes-sociales-internas"><i class="bi bi-tiktok"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://t.me/@Francckkl" class="redes-sociales-internas"><i class="bi bi-telegram"></i><span class="d-none">redsocial</span></a>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=573045465661&text=" class="redes-sociales-internas"><i class="bi bi-whatsapp"></i><span class="d-none">redsocial</span></a>
            </div>
            <div class="col-12 politicas">
                <a href="#" class="politicas-internas">POLITICA</a>
                <a href="#" class="politicas-internas">MAPA DEL SITIO</a>
                <a href="#" class="politicas-internas">TyC</a>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid">
    <p>
        <a href="https://www.gov.co/home/" title="Gov.co" alt="Gov.co" target="_blankdd">
            <img alt="imagen footer" src="../../../assets/imagenes-locales/logo-footer.png" width="238" height="41">
        </a>
    </p>
</div>
<div class="volver-arriba d-none" id="volverArriba">
    <button type="button" class="btn btn-outline-primary" aria-label="Volver arriba" (click)="volverArriba()"><i class="bi bi-arrow-up-circle-fill"></i></button>
</div>